---
---

<section id="authors" class="py-12 lg:py-24 bg-gray-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="text-center mb-16">
    <h2 class="text-4xl md:text-5xl font-bold text-slate-900 mb-6">
      Research Team
    </h2>
    <div class="grid grid-cols-3 gap-y-4 text-xl text-slate-600 max-w-3xl mx-auto">
      <div>Qinhong Zhou∗</div>
      <div>Hongxin Zhang*</div>
      <div>Xiangye Lin*</div>

      <div>Zheyuan Zhang∗</div>
      <div>Yutian Chen</div>
      <div>Wenjun Liu</div>

      <div>Jincheng Yang</div>
      <div>Sunli Chen</div>
      <div>Lixing Fang</div>

      <div>Qiushi Lyu</div>
      <div>Zunzhe Zhang</div>
      <div>Xinyu Sun</div>

      <div>Zeyuan Wang</div>
      <div>Bao Chi Dang</div>
      <div>Zhehuan Chen</div>

      <div>Daksha Ladia</div>
      <div>Jiageng Liu</div>
      <div>Chuang Gan</div>
    </div>
    <p class="text-xl text-slate-600 max-w-3xl mx-auto mt-6">
      * denotes Equal Contribution
    </p>
  </div>
</section>
