---
---

<section id="authors" class="prose max-w-none relative flex w-full self-stretch bg-gray-50">
  <div class="relative flex flex-1 box-border items-center justify-center px-5 pt-20 pb-20">
    <div class="relative w-full flex flex-col items-center text-center max-w-[1072px] xl:ml-[112px] xl:mr-[112px]">
      <h2 id="research-team">Research Team</h2>
      <p>
        Qinhong Zhou*, Hongxin Zhang*, Xiangye Lin*, Zheyuan Zhang*, Yutian Chen, Wenjun Liu, Jincheng Yang, Sunli Chen, Lixing Fang, Qiushi Lyu, Zunzhe Zhang, Xinyu Sun, Zeyuan Wang, Bao Chi Dang, Zhehuan Chen, Daksha Ladia, Jiageng Liu, Chuang Gan
      </p>
      <p>* denotes Equal Contribution</p>
    </div>
  </div>
</section>

